body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.form-container {
    width: 50%;
    margin: 45px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.input-group, .textarea-group, .image-container {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    gap: 35px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
}

.image-container img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}